#pane{
    -fx-background-image: url("/Images/background.png");
    -fx-background-repeat: REPEAT;
    -fx-background-position: center center;
}

#forceButton{
    -fx-background-image: url("/Images/Buttons/forceupdateButton.png");
    -fx-background-position: center center;
}

#forceButton:hover{
    -fx-background-image: url("/Images/Buttons/forceupdateButtonHover.png");
    -fx-background-position: center center;
}

#forceButton:pressed{
-fx-background-image: url("/Images/Buttons/forceupdateButtonActive.png");
    -fx-background-position: center center;
}

#launchButton{
    -fx-background-image: url("/Images/Buttons/launchButton.png");
    -fx-background-position: center center;
}
#launchButton:hover{
    -fx-background-image: url("/Images/Buttons/launchButtonHover.png");
    -fx-background-position: center center;
}

#launchButton:pressed{
    -fx-background-image: url("/Images/Buttons/launchButtonActive.png");
    -fx-background-position: center center;
}

#discordButton{
    -fx-background-image: url("/Images/Buttons/discordButton.png");
    -fx-background-position: center center;
}

#discordButton:hover{
    -fx-background-image: url("/Images/Buttons/discordButtonHover.png");
    -fx-background-position: center center;
}

.root {
    -fx-focus-color: transparent;
}
.button {
    -fx-background-insets: 0, 1, 2;
}

.button:focused {
    -fx-background-insets: 0, 1, 2;
}